body{
    background-color: rgb(160, 179, 226);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.post-image{
    float: left;
    border: 5px double black;
    margin-right: 10px;
}

.category-header{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.d1 {
    display:flex;
    
    }